*{
    margin: 0;
    padding: 0;
    font-zize:0.7rem;
}
body,html{
    width: 100%;
}
html body{
    background-color: #f8f8f8;
}
strong{
    font-weight: bold;
}
.header{
    width:100%;
}
.header img{
    width:100%;
    height:100%;
}
.question{
    width:100%;
    padding:0.5rem 0.5rem;
    font-family: "PingFang SC";
    /*font-weight: 300;*/

}
.question_title{
    margin-bottom: 0.4rem;
}
.question_title .star{
    color: red;
}
.question_title .type,.question_title .max_choose,.question_title .max_fill_in{
    color: #00aaff;
}
.question_title{
    font-size: 0.7rem;
}
.answer .fill_in{
    width:100%;
    height:1.5rem;
    border:1px solid #ccc;
    border-radius: 0.15rem;
    padding: 0.2rem 0.2rem;
    font-size:0.7rem;
}
input[type='text']{
    padding: 0.2rem 0.2rem;
    font-size:0.7rem;
}
.foreword{
    width:80%;
    text-align: center;
    margin:0.5rem auto;
    font-size: 0.8rem;
}
.options{
    width:100%;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius:0.15rem ;
    padding: 0.3rem 0 0.3rem 0.3rem;

}
.option{
    width: 100%;
}
.option label{
    font-size: 0.7rem;
    width:100%;
    line-height: 1.4rem;
    display: inline-block;
}
.radio_new{
    display: inline-block;
    width:1rem;
    height: 1rem;
    background: url("../img/btn.png") no-repeat left top -1.37rem;
    background-size: cover;
    vertical-align: middle;
    margin-right: 0.3rem;
}
.check_new{
    display: inline-block;
    width:1rem;
    height: 1.1rem;
    background: url("../img/check.png") no-repeat left top -1.28rem;
    background-size: cover;
    vertical-align: middle;
    margin-right: 0.3rem;
}
.option input[type="radio"],.option input[type="checkbox"]{
    display: none;
}
.option_content{
    width:calc(100% - 2rem);
    display: inline-block;
    border-bottom: 1px solid #ccc;
    vertical-align: middle;
}
.other{
    border: 1px solid #ccc;
    width: 86%;
    height: 1.4rem;
    margin-left: 0.3rem;
    margin-top: 0.2rem;
}
table{
    table-layout:fixed ;
    font-size: 0.7rem;
    width:100%;
}
table tr td{
    border: 1px solid #ccc;
}
.rank thead tr{
    height:2rem;
}
.rank thead tr td{
    font-size: 0.5rem;
    color: #c0c0c0;
    padding: 0 0.1rem;
}
.rank tr td:first-child{
    width:50%;
    padding-left: 0.2rem;
}
.rank_item{
    height: 2.5rem;
    line-height: 2.5rem;
    white-space:nowrap ;
    overflow-x: auto;
    padding: 0 0.2rem;
    text-align: center;
}
.rank_item input{
    display: none;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.array_single tr td:first-child{
    padding:0.3rem;
    width:28%;
}
.array_single thead td{
    text-align: center;
}
.mul_fill_input{
    height: 1.5rem;
    border:1px solid #ccc;
    width:93%;
    margin:0.1rem 0.3rem 0.1rem 0;
    float: right;
}
.clearfix:after{
    content:".";display:block;height:0;clear:both;visibility:hidden
}
.options>.option:last-child .option_content{
    border:none;
}
.footer{
    width: 100%;
    padding:0 0.5rem;
}
.submit{
    width:100%;
    height:1.8rem;
    line-height: 1.8rem;
    text-align: center;
    background-color: #1997e8;
    border-radius: 0.2rem;
    color: #fff;
    font-size: 0.8rem;

}
.limit_tips,html body .question .error_tips,.phone_error_tips{
    width:3.5rem;
    background-color: darkred;
    color: #fff;
    border-radius: 0.1rem;
    display: none;
    font-size: 0.6rem;
    text-align: center;
    margin-bottom: 0.2rem;
}
.phone_error_tips{
    width:5rem;
}
.question[data-type="6"]{
    border-top:2px dashed cornflowerblue;
}
.bottom{
    height:3rem;
}
.footer{
    position: fixed;
    bottom:0;
}
.process{
    width:2rem;
    height:2rem;
    line-height: 2rem;
    text-align: center;
    border-radius:50%;
    position: fixed;
    top: 0.6rem;
    right:0.6rem;
    background-color: #00AEE4;
    color: #0000a8;
    opacity: 0.5;
    font-size: 0.6rem;
}
.pull,.push{
    width:48%;
    display: inline-block;
    height:1.4rem;
    line-height: 1.4rem;
    border-radius: 0.1rem;
    text-align: center;
    font-size: 0.7rem;
    color: #404243;
    text-shadow:1px 1px 1px #fff;
    border:1px solid #dce1e6;
    box-shadow: 0 1px 2px #fff inset,0 -1px 0 #a8abae inset;
    background: -webkit-linear-gradient(top,#f2f3f7,#e4e8ec);
    background: -moz-linear-gradient(top,#f2f3f7,#e4e8ec);
    background: linear-gradient(top,#f2f3f7,#e4e8ec);
    margin-bottom: 0.2rem;
}
